body {
  /* background-color: #004880; */
  margin: 0;
}

.dropdown{
  width: 25%;
}

label {
  font-family: Work Sans, sans-serif;
}

button {
  outline: none;
  cursor: pointer;
}

input[type=text]:focus {
  border: 3px solid #1f233e;
  outline: none;
}

.add-meal input,textarea{
  width: 35%;
padding: .5%;
margin: .5% auto;
height: 20%;
}

.add-meal textarea{
  height: 200px;
}

.tab {
  text-align: justify;
margin-left: 15%;
margin-bottom: -1%;
}

form {
  margin: 1% 15%;
  /* border: 1px solid #1f233e; */
  padding: 1%;
  /* background-color: #9DD5FF; */
}

#generator-form {

}

#expressions-information {
  margin: 1% 15%;
  border: 1px solid black;
  background-color: #9DD5FF;
}

#expressions-information h3, h4{
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}

#expressions-information li {
  text-align: center;
  list-style-type: none;
}
#expressions-information li img {
  height: 45%;
  width: 45%;
  border: 1px solid black;

}

.tab button {
  width: 10%;
  height: 50px;
  border-radius: 2px;
  border-color: #1f233e;
  background-color: #1f233e;
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 13px;
}
.tab .active {
background-color: #0091FF !important;
}

.add-meal select {
  width: 35%;
  height: 25px;
  margin-top: 1%;
  font-size: 14px;
}

.generate-meal button,.settings select, .add-meal button {
  width: 20%;
  height: 50px;
  border-radius: 2px;
  border-color: #1f233e;
  background-color: #0074CC;
  font-family: Work Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: white;
  margin: 2% auto;
}
.generate-meal button {
  border-radius: 0.4rem;
  box-shadow: inset 0 -0.4rem darkblue;
}

.inactive{
  display: none;
}
.container {
  text-align: center;
}

.tabs, .tabs ul {
  text-align: center;
  padding: 0;
  font-family: Work Sans, sans-serif;
}
.tabs dd{
  margin: 0;
}

.tabs div{
  margin-left: 1%;
  margin-right: 1%;
}

.tabs img{
  border: 3px solid #004880;
}

.tabs a {
  text-decoration: none;
  color: black;
}

#meal-button:hover{
  background-color: #0091FF;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: .5s;
  animation-name: animatebottom;
  animation-duration: .5s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#settings-icon{
  height: 100%;
  width: 100%;
  -webkit-animation: rotateicon 1.2s linear;
  animation: rotateicon 1.2s linear;
}

@-webkit-keyframes rotateicon {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes rotateicon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.settings-container{
  width: 100%;
}

.settings{
  width: 40%;
  margin: 2% auto;
  border: 1px solid;
  border-radius: 1.4rem;
}

#settings-options{
  width: 100%;
}

.icon{
  width: 8%;
    border: none;
    margin: auto 2%;
    position: relative;
    top: 12px;
    right: 38px;
}

.panel{
  font-family: 'Lato', sans-serif;
}

@media screen and (max-width: 800px) {
  .generate-meal button, .settings select, .add-meal button {
    width: 70%;
    height: 50px;
    border-radius: 2px;
    border-color: #1f233e;
    background-color: #0074CC;
    font-family: Work Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    color: white;
    margin: 2% auto;
}

.panel img{
width: 90%;
}

}